on: push
name: Run Tests
jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: golang-action
      uses: cedrickring/golang-action@1.6.0